<app-header2></app-header2>
<app-nav></app-nav>

<section class="regalos">
  <h2>REGALOS</h2>
  <div class="cont-cartas">
    <div *ngFor="let item of regalos()" class="card">
      <img [src]="item.imagen" alt="{{ item.nombre }}" />
      <h3>{{ item.nombre }}</h3>

      <p 
        [ngStyle]="{
          'color': item.precio < 20000 ? 'green' 
                  : item.precio < 80000 ? 'orange' 
                  : 'red',
          'font-weight': item.precio > 80000 ? 'bold' : 'normal'
        }">
        {{ item.precio | currency:'COP' }}
      </p>

      <!-- Aquí implementamos el nuevo @switch -->
      @switch (item.categoria) {
        @case ('flores') {
          <p>Categoría: Flores</p>
        }
        @case ('desayunos') {
          <p>Categoría: Desayunos</p>
        }
        @case ('peluches') {
          <p> Categoría: Peluches</p>
        }
        @default {
          <p>Categoría desconocida</p>
        }
      }

      <button>Ver más</button>
    </div>
  </div>
  <div class="cont-cartas">
    <div *ngFor="let item of regalos()" class="card">
      <img [src]="item.imagen" alt="{{ item.nombre }}" />
      <h3>{{ item.nombre }}</h3>

      <p 
        [ngStyle]="{
          'color': item.precio < 20000 ? 'green' 
                  : item.precio < 80000 ? 'orange' 
                  : 'red',
          'font-weight': item.precio > 80000 ? 'bold' : 'normal'
        }">
        {{ item.precio | currency:'COP' }}
      </p>

      @switch (item.categoria) {
        @case ('flores') {
          <p>Categoría: Flores</p>
        }
        @case ('desayunos') {
          <p>Categoría: Desayunos</p>
        }
        @case ('peluches') {
          <p> Categoría: Peluches</p>
        }
        @default {
          <p>Categoría desconocida</p>
        }
      }

      <button>Ver más</button>
    </div>
  </div>
</section>

<app-footer></app-footer>
